<div class="our-menu-container" id="our-menu-container">

    <h2 id="our_menu" class="our-menu">OUR MENU</h2>

    <div class="menu-boxes">
        <div class="tonkotsu-ramen">
            <img class="tonkotsu-ramen-img" src="./img/2. R1-CP.png">
            <table>
                <tr>
                    <th>Tonkotsu Ramen</th>
                </tr>
                <tr>
                    <td id="chicken">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="beef">BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="shrimp">SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="spicy-miso-ramen">
        <img class="spicy-miso-ramen-img" src="./img/3. R2-CP.png">
        <table>
            <tr>
                <th>Spicy Miso Ramen</th>
            </tr>
            <tr>
                <td id="chicken_two">CHICKEN</td>
                <td>11.95€</td>
            </tr>
            <tr>
                <td id="beef_two">BEEF</td>
                <td>12.95€</td>
            </tr>
            <tr>
                <td id="shrimp_two">SHRIMP</td>
                <td>13.95€</td>
            </tr>
        </table>
    </div>

    <div class="shio-ramen">
        <img class="shio-ramen-img" src="./img/4. R3-CP.png">
        <table>
            <tr>
                <th>Shio Ramen</th>
            </tr>
            <tr>
                <td id="chicken_three">CHICKEN</td>
                <td>11.95€</td>
            </tr>
            <tr>
                <td id="beef_three">BEEF</td>
                <td>12.95€</td>
            </tr>
            <tr>
                <td id="shrimp_three">SHRIMP</td>
                <td>13.95€</td>
            </tr>
        </table>
    </div>
</div>
