<h2 id="how-to-order" class="how-to-order">HOW TO ORDER</h2>

    <div class="how-to-order-boxes">

        <div class="instruction">
            <img class="how-to-order-img" src="./../../assets/img/1.Noodle@3x.png">
            <span id="pick-your-noodle">Pick your <br> noodle</span>
        </div>

        <div class="instruction">
            <img class="how-to-order-img" src="./../../assets/img/2.Broth@3x.png">
            <span id="pick-your-broth">Pick your <br> broth</span>
        </div>

        <div class="instruction">
            <img class="how-to-order-img" src="./../../assets/img/3.Egg@3x.png">
            <span id="add-your-toppings">Add your <br> toppings</span>
        </div>

    </div>
